.parent-component{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.header-component{
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}
.chat-box{
  margin: 5vh;
  height: 20vh;
  width: 50vw;
}